<div>
  <p>UserName：<%= @post_book.user.name %></p>
  <p>Title：<%= @post_book.title %></p>
  <p>Story：<%= @post_book.body %></p>
  <p>Date：<%= @post_book.created_at.strftime('%Y/%m/%d') %></p>
   <% if @post_book.user == current_user %>
    <%= link_to "Delete", post_book_path(@post_book), method: :delete %>
  <% end %>
</div>