<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Post', new_post_book_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'My Page', user_path(current_user.id), class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Books', post_books_path, class: 'nav-link text-dark' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path, class: 'nav-link text-dark' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-5 pt-5 ">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>Short Short</p>
          </div>
          <div class="col-md-4">
            <h6>このアプリについて</h6>
            <ul class="menu list-unstyled">
              <li>
                <a class="text-light text-decoration-none" href="" data-toggle="collapse" data-target="#ex-1" area-expanded="false" area-control="ex-1">作成者</a>
                <p class="collapse" id="ex-1">
                  某国立大学院生 S.K
                </p>
              </li>
              <li>
                <%= link_to 'Top', root_path, class: 'text-light' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
